# Copy to .env (same directory) and point this at your real FreeSurfer license.txt
# (free registration: https://surfer.nmr.mgh.harvard.edu/registration.html).
# Never commit an actual license.txt or a filled-in .env.
FS_LICENSE_HOST=/absolute/path/to/your/license.txt
